.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints
GEOCATMIN/esriinfo
GEOCATMIN/v10
GEOCATMIN/v107
GEOCATMIN/Mapa hidrogeologico_camana.mpk
Soil_classes_SWAT.Rproj
pruebas.R
pruebas.Rmd
pruebas.nb.html
Untitled.ipynb
grid_CMA_Bateas.7z
roi_prec_gee_CMA_BT.7z
swatplus